*{margin:0; padding:0; box-sizing: border-box;}
*::before,*::after{box-sizing:border-box;}
ul,ol{list-style:none;}


body{
	font-size:3.7vw;
}
section>h2:first-child{
	font-size:2vw;
	border-left:5px solid #D33A31;
	margin:1.8em 0;
	font-weight:normal;
	padding-left:2.6vw;
	line-height:1;//老师写1
}
.topbar{
	background:#D43C33;
	padding:4.5vw 2.5vw;
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.topbar .logo{
	width:38vw;
}
.topbar .downloadApp{
	line-height: 7.5vw;
	border:2px solid white;
	border-radius:4.25vw;
	display:block;
	color:white;
	text-decoration:none;
	padding:0.5em;


}

.siteNav{}

.siteNav>ol{
	display:flex;
	text-align:center;
	border-bottom: 1px solid #cccccc;
	font-size:1.1em;
}

.siteNav>ol>li{
	flex:1;
}
.siteNav>ol>li.active{
	color:#D33A31;

	
}
.siteNav>ol>li>span{
	height:10vw;
	line-height: 11vw;
	display:inline-block;
	position:relative;
	

}
.siteNav>ol>li.active>span::before{
	content:'';
	position:absolute;
	bottom:0;
	border-top: 4px solid #D33A31;
    left:-2vw;
    right:-2vw;
}
.playlists{
	margin-top:5.5vw;
}
.playlists>ul{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	font-size:0.93em;

}
.playlists>ul img{
    width:100%;
    //width:246px;
    //height:246px;
}
.playlists>ul>li{
	width:calc(33.333333%-1vw);
}

.LastestMusic{}

section.art{}





